body {
    background-color: rgba(128, 127, 127, 0.74);
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
#output {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
h1{
   
    Color:rgb(0, 0, 0);
    font-weight: 700;
    font-size: 80px;
   font-Family:Impact;
}
p{
    Color:rgb(0, 0, 0);
    font-weight: 400;
    font-size: 35px;
   font-Family:"Times New Roman";
    
}
#showMessage{
    background-color: rgb(111, 111, 151);
    width: 250px;
    height: 80px;
    color: white;
}
#showMessage:hover{
    background-color: rgb(115, 165, 115);

}